<center>
<table class="table table-striped" style="width: 50%; background-color: rgba(0,100,200,5); border-radius: 10px; border: 2px solid white">
  <thead>
    <tr>
      <th>#</th>
      <th>Link URL</th>
      <th>Rit'd URL</th>
      <th>Custom URL</th>
      <th>Visited</th>
    </tr>
  </thead>
  <tbody>
  <% @list.each do |link| %>
    <tr>
      <td><%= link.id %></td>
      <td>
        <a href="/ritly/show/<%=link.short_url%>">
          <%=link.entered_url%>
        </a>
      </td>
      <td>
        <a href="/ritly/show/<%=link.short_url%>">
          <%=link.short_url%>
        </a>
      </td>
      <td><%=link.custom_url%></td>
      <td><%=link.visited%></td>
      <td>
        <%= form_tag (delete_path(link.id)), method: "delete" do %>
          <% submit_tag "delete" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
</center>